html{
    scroll-behavior: smooth;
        }
        *{
    background-color: white;
    font-family: "Quicksand", sans-serif;
    
    
}

.right-about{
     display: block; 
    float: left;
    width: 30%;
    margin-top: 5%;
     padding-left:20px;
    
}
.right-about h4{
    font-size: 200%;
    margin-left: 10%;
}
.right-about ul{
    width: 100%;
    
}
.links{
    display: block;
    list-style: none;
    margin: 0%;
    padding: 1%;
    width: 60%;
    /* height: 120%; */
    /* box-sizing: border-box; */
    display: grid;
}
.links a{
    text-decoration: none;
    color: aliceblue;
    /* list-style: none; */
    padding:8%;
    color:white;
    font-size: 16px;
    letter-spacing: .4px;
    line-height: 33px;
    opacity: 100%;
    border-radius: 5%;
    /* width:200000px; */
    /* font-size: 20%; */
    
}
.links a:hover
{
  font-size:20px;  
  box-shadow: 3px 3px rgb(196, 191, 191);
}

.links1 a{
    background-color:rgb(240, 51, 3);
    z-index: 1;
}
.links2 a{
    background-color:rgb(49, 175, 112);
    z-index: 1;
}
.links3 a{
    background-color:rgb(0, 162, 255);
    z-index: 1;
}
.links4 a{
    background-color:rgb(181, 106, 196);
    z-index: 1;
}
.links5 a{
    background-color:orange;
    z-index: 1;
}
.profile-img{
    filter: grayscale(100%);
    /* padding: 1em; */
    /* padding: 20%; */
    border-radius: 50%;
    height: 200px;
    display: inline-block;
    /* float: right; */
}
.pro-name{
    width: 50%;
    display: inline-block;
}
.text-body{
    display: table-cell;
    vertical-align: top;
    /* overflow: hidden;
    zoom: 1; */
    /* width: 13%; */
    
}

.left-sec{
     display: block; 
    float: right;
    width: 50%;
    margin-left: 10%;
    padding-right: 14%;
    
}
.v-title{
    font-size: 200%;
    width: auto;
    color:rgb(138, 6, 138);
    letter-spacing: 1px;
    text-transform: capitalize;
    text-shadow: 10%;
    font-weight:bold;
}

.inner-middle{
    float: left;
    width: 0%;
    padding: 0%;
}
.value{
    margin-top: 30%;
}
p{
    font-size: 15px;
    line-height: 1.9em;
    letter-spacing: .8px;
    font-family: inherit;
}
p1{
    font-family: italic;
    font-size: 20px;
    float: right;
    color:rgb(70, 63, 63);
}
h1{
    font-size: 1.3em;
    margin-left: 50px;
    font-family: 'Hind Vadodara', sans-serif !important;
    font-size: 30px;
    color: rgb(138, 6, 138) ;
}
h4{
    font-size: 15px;
    margin-bottom: 0px;
    margin: 0;
    font-family: 'Hind Vadodara', sans-serif !important;
    font-weight: 600;
    color:#04a9d2 ;
}
h2{
    text-align: center;
}
h3{
    color:#d4377a ;
    font-size: 18px;
    
}
.right-about {
    float: left;
    width: 30%;
    margin-top: 3%;
    bottom:20px;
    position: fixed;
    padding-left: -10px;
}

.quote-img{
   margin-bottom: -10px;
    width: 10%;
    height: 10%;
    opacity: 50%;    
    border-radius: 20%;
    
}
.arrow-top{
    bottom:50px;
    right: 60px;
    position: fixed;
    
}
.arrow
{
    font-size: 30px;

}
h4{
    font-size: 1.3em;
    margin-bottom: 0px;
    margin: 0;
    font-family: 'Hind Vadodara', sans-serif;
    font-weight: 600;
}
.arrow:hover
{
    font-size: 35px; 
}
.point{
    font-size:15px;
    color:#d4377a ;
}
.point1{
    font-size:18px;
    color:#d4377a ;
}
.position
{
    position: absolute;
    margin-top: 10px;
}
.lin{
    display: none;
}
